@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#levels-container {
	display: flex;
	flex-direction: column;
	align-items:center;
}

.level-container {
	display: flex;
	align-items: center;
	background-color: #21232b;
	padding: 16px;
	margin: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	max-width: 900px;
	width: 95%;
	height: 150px;
	/* margin: 20px; */
}

.level-img{
	width: 220px;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #b0b0b0;
	margin-right: 16px;
	transition: transform 0.3s ease;
}

.level-img:hover{
	transform: translateY(-5px);
}

.level-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-name {
	font-size: 1.3em;
	font-weight: 500;
	color: #ffffff;
	margin: 0 0 4px 0;
	cursor: pointer;
}

.level-creator {
	font-style: italic;
	font-size: 0.9em;
	color: #b0b0b0;
	margin: 0 0 4px 0;
}

#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 15px;
    background-color: none;
	border: none;
	max-width: 900px;
	width: 95%;
}

#search-bar i{
    font-size: 20px;
    color: white;
}

#search-bar input{
	width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
}